# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf

# 12 MHz clock
set_io -nowarn CLK        35

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDG_N     37
